{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["tw"],
  "semi": false,
  "singleQuote": true,
  "printWidth": 150,
  "trailingComma": "none",
  "singleAttributePerLine": false
}
