@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers */
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

/* Customize the scrollbar thumb (scrolling handle) */
::-webkit-scrollbar-thumb {
  background-color: #a5a5a5 !important;
  border-radius: 2px !important;
}

/* Customize the scrollbar track when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #d3d3d3 !important;
}

.rounded-2xl:not(:hover) ::-webkit-scrollbar-track {
  background-color: #dadada !important;
}
.rounded-2xl:not(:hover) ::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.link {
  @apply text-blue-600 dark:text-blue-500 hover:underline;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* leaflet marker overrides */
.leaflet-div-icon {
  border: none !important;
  background-color: transparent !important;
}
